body {
	font-family: Arial, sans-serif;
}
h1 {
	border-bottom: 1px solid #000;
	display: inline-block;
}

/* CSS relevant to the task */
.button {
	background: url(http://winstonwanders.com/wp-content/uploads/2015/05/DSC_7323_edit.jpg) center center / 100% auto no-repeat;
	width: 300px;
	height: 150px;
	color: white;
	font-size: 35px;
	opacity: 0;
	-webkit-animation: button-fade-in forwards 2s 0.5s;
	animation: button-fade-in forwards 2s 0.5s;
	-webkit-transition: background-size 1s, filter 1s;
	transition: background-size 1s, filter 1s;
}

.button:hover {
	background-size: 125% auto;
}

.button:active {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

@-webkit-keyframes button-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes button-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}