body {
    background: skyblue;
    font-family: verdana;
    color: #fff;
    padding: 30px;
}
h1, h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 30px;
}
p, .hobbies li {
    font-size: 16px;
    text-align: center;
}
.hobbies li {
    list-style-type: none;
}
.contact-form input {
    display: block;
    margin: 5px 0 12px;
    height: 25px;
    width: 250px;
    padding: 0 10px;
    font-size: 14px;
}