html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#meter {
	width: 50px;
	background-color: green;
	transition: height 50ms;
}