body {
	font-family: Arial, sans-serif;
	padding: 0 10px;
}
h1 {
	border-bottom: 1px solid #000;
	display: inline-block;
}
a {
	line-height: 1.4;
	text-decoration: none;
	color: #339966;
}
.description {
	text-align: center;
}
.description li {
	line-height: 1.8;
}

/* -- CSS relevant to the task -- */

.carousel-wrapper {
	width: 600px;
	overflow: hidden;
	margin: 0 auto;
}
.carousel {
	width: 3000px;
	padding: 0;
}
.carousel li {
	display: inline-block;
}
.carousel img {
	width: 600px;
}

.carousel-links {
	text-align: center;
}
.carousel-links li {
	display: inline-block;
	margin-left: 40px;
}
.carousel-links li:first-child {
	margin-left: 0;
}