<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1>
    <p>Contact the coolest cats on the web right here...</p>
    <form class="contact-form" method="POST" action="/contact">
        <label for="who">Who do you want to contact?</label>
        <input type="text" name="who" value="<%= qs.person %>">
        <label for="department">Which department?</label>
        <input type="text" name="department" value="<%= qs.dept %>">
        <label for="email">Your email</label>
        <input type="email" name="email">
        <input type="submit" value="submit">
    </form>
</body>
</html>