<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link rel="stylesheet" href="assets/styles.css">
    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form action="">
            <input type="text" name="item" placeholder="Add new item..." required>
            <!--<input type="submit" value="Add Item">-->
            <button type="submit">Add Item</button>
            <ul>
                <% for(var i=0; i < todos.length; i++) { %>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </form>
    </div>
</body>
</html>