$numBalls: 5;
$diameter: 100;
$pi: 3.14159265358979;
$circumference: $pi * $diameter;
$rotations: 2;
$animDuration: 2;
$ballDelay: 0.5;
$ballBgColor: #5b5bca;

body {
	font-family: Arial, sans-serif;
	line-height: 1.4;
	padding: 20px;
}
.ball {
	width: #{$diameter}px;
	height: #{$diameter}px;
	border: 1px solid #000;
	margin-top: 150px;
	border-radius: 50%;
	background-color: $ballBgColor;
	-webkit-box-shadow: inset -8px 9px 8px 0px rgba(255,255,255,0.6);
	box-shadow: inset -8px 9px 8px 0px rgba(255,255,255,0.6);
	position: relative;
	// animation: ballAnim #{$animDuration}s both;
	animation-duration: #{$animDuration}s;
	animation-fill-mode: both;
	animation-name: ballAnim;
	display: none;

	&[data-number] {
		display: inline-block;
	}
	
	@for $i from 1 to $numBalls {
		&:nth-of-type(#{$i}), &:nth-of-type(#{$i})::before {
			animation-delay: #{($numBalls - $i) * $ballDelay}s;
		}
	}

	// @for $i from 1 through $numBalls {
	// 	&:nth-of-type(#{$i}) {
	// 		animation-name: ball#{$i}Anim;
	// 	}
	// }

	&::before {
		content: attr(data-number);
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    font-size: 40px;
	    animation: NumberAnim #{$animDuration}s both;
	}
	&::after {
	    content: "";
	    background-color: rgba(0,0,0,0.2);
	    width: 100%;
	    height: 20%;
	    position: absolute;
	    bottom: -5%;
	    border-radius: 50%;
	    z-index: -1;
	    left: 5%;
	    -webkit-filter: blur(3px);
	}
}
// @for $i from 1 through $numBalls {
// 	@keyframes ball#{$i}Anim {
// 		from {
// 			left: -#{$i * $diameter + 20 * $i + $diameter}px;
// 		}
// 		to {
// 			left: #{$pi * $diameter * $rotations - ($i * $diameter + 20 * $i + $diameter)}px;
// 		}
// 	}
// }
@keyframes ballAnim {
	from {
		left: -#{$circumference * $rotations}px;
	}
	to {
		left: 0;
	}
}
@keyframes NumberAnim {
	from {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotateZ(#{$rotations*360}deg);
	}
}