body {
	font-family: Arial, sans-serif;
}
h1 {
	border-bottom: 1px solid #000;
	display: inline-block;
}
a {
	line-height: 1.4;
}

/* CSS relevant to the task */
a[href*="facebook.com"]:before {
	content: "";
	display: inline-block;
	background: url(https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png) 0 0 /25px auto no-repeat;
	height: 25px;
	width: 25px;
	margin-right: 5px;
}