body {
	font-family: Arial, sans-serif;
	padding: 0 10px;
}
h1 {
	border-bottom: 1px solid #000;
	display: inline-block;
}
a {
	line-height: 1.4;
	text-decoration: none;
	color: #339966;
}
.description {
	text-align: center;
	width: 755px;
	margin: 0 auto;
}
.cool-features {
	margin: 25px 0 0;
	text-decoration: underline;
}
.description ul {
	text-align: left;
	padding-left: 0;
}
.description li {
	line-height: 1.8;
}
.description li > span {
	font-weight: bold;
}
main {
	margin-top: 30px;
}

/* -- CSS relevant to the task -- */

.clock-outer {
	height: 268px;
	width: 260px;
	margin: 0 auto;
	padding: 2%;
	border: 5px solid black;
	border-radius: 50%;
	background-color: beige;
}
.clock-inner {
	background: url(../images/clock-numbers.svg) no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
}
.clock-inner::after {
	content: "";
	border-radius: 50%;
	width: 3.5%;
	height: 3.5%;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid white;
	z-index: 4;
}

.hand-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.hours-wrapper {
	z-index: 1;
	-webkit-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-animation: rotation calc(12*60*60s) infinite steps(12);
	animation: rotation calc(12*60*60s) infinite steps(12);
}
.minutes-wrapper {
	z-index: 2;
	-webkit-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-animation: rotation calc(60*60s) infinite steps(60);
	animation: rotation calc(60*60s) infinite steps(60);
}
.seconds-wrapper {
	z-index: 3;
	-webkit-animation: rotation 60s infinite steps(60);
	animation: rotation 60s infinite steps(60);
}

.hand {
	position: absolute;
	background-color: black;
}
.hours {
	width: 2%;
	height: 38%;
	top: 20%;
	left: 49%;
}
.minutes {
	width: 2%;
	height: 46%;
	top: 12%;
	left: 49%;
}
.seconds {
	width: 0.75%;
	height: 50%;
	top: 16%;
	left: 49.5%;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	to {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}
@keyframes rotation {
	from {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	to {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

/* Extra features */

.clock-outer.silent-sweep .hand-wrapper {
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* Themes */

.stylish.clock-outer {
	background-color: cadetblue;
}
.stylish .hand {
	background-color: white;
	border: 2px solid black;
}