body {
  font-family: Arial, sans-serif;
  line-height: 1.4; }

.option {
  width: 230px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  position: relative; }
  .option:last-of-type {
    border-top: none; }
  .option > div {
    display: inline-block; }
  .option > .toggle-wrapper {
    position: absolute;
    height: 18px;
    right: 4%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .option > .toggle-wrapper .toggle-label {
      display: inline-block;
      width: 30px;
      height: 100%;
      background-color: #777;
      border-radius: 40%;
      position: relative;
      cursor: pointer; }
      .option > .toggle-wrapper .toggle-label::after {
        content: "\2717";
        color: #777;
        background-color: #f5f5f5;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 10px;
        position: absolute;
        left: -1px;
        top: -1px;
        font-weight: bold;
        border: 1px solid #777;
        -webkit-transition: all 0.25s;
        transition: all 0.25s; }
    .option > .toggle-wrapper .toggle {
      display: none; }
      .option > .toggle-wrapper .toggle:checked + .toggle-label::after {
        content: "\2713";
        color: white;
        background-color: #0ca8e1;
        left: 13px; }

.option-text-wrapper > h2 {
  font-size: 14px;
  margin: 0; }
.option-text-wrapper > p {
  font-size: 11px;
  margin: 0;
  color: #555; }

/*# sourceMappingURL=style.scss.css.map */
