body {
	font-family: Arial, sans-serif;
	line-height: 1.4;
}
a {
	text-decoration: none;
	color: inherit;
}

// SCSS Relevant to the task

$mainColor: #686e81;
// $mainColor: #339966;
// $mainColor: #ff0033;

.menu {
	padding: 0;
	> li {
		list-style-type: none;
	    width: 250px;

		> a {
			width: 100%;
			padding: 15px 20px;
			display: inline-block;
			box-sizing: border-box;
			line-height: 22px;

			> span {
				float: right;
			    background-color: rgba(0, 0, 0, 0.3);
			    border-radius: 10px;
			    padding: 0px 10px;
			    font-size: 12px;
			    vertical-align: bottom;
			}
		}
	}
}

.menu-title {
	background-color: darken(white, 10%);
	color: $mainColor;
}

.menu-item {
    background-color: $mainColor;
    color: white;
}
.menu-item:hover {
    background-color: saturate($mainColor, 30%);
    // background-color: complement($mainColor);
    color: white;
}