body {
	font-family: Arial, sans-serif;
	line-height: 1.4;
}
a {
	text-decoration: none;
	color: inherit;
}

// SCSS Relevant to the task

.tabbed-box {
	width: 450px;
	margin-left: 10px;
}
.tab-radio {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}
.tabs {
	padding: 0;
	margin-bottom: 0;
	> .tab-and-screen {
		position: relative;
		display: inline-block;
	    width: 33%;
	    padding: 10px 0;
	    border-top: 1px solid #000;
	    border-left: 1px solid #000;
	    text-align: center;

	    &:last-of-type {
	    	border-right: 1px solid #000;
	    }
	}
}

.screen {
	display: none;
	height: 300px;
	border: 1px solid #000;
	padding: 10px;
    position: absolute;
    top: 42px;
    left: -1px;
    width: 428px;
}

#screen1 {
	// display: block;
}

.tab-radio:checked + .screen {
	display: block;
}