body {
	font-family: Arial, sans-serif;
	padding: 0 10px;
}
h1 {
	border-bottom: 1px solid #000;
	display: inline-block;
}
a {
	line-height: 1.4;
	color: inherit;
	text-decoration: none;
}
.description li {
	line-height: 1.8;
}

/* -- CSS relevant to the task -- */

/* CSS for layout */

.main-menu {
    background-color: black;
    padding: 0 20px;
    border-radius: 10px;
    display: inline-block;
}
.main-menu li {
    padding: 18px 20px;
    color: white;
    /*font-size: 18px;*/
    cursor: pointer;
}
.main-menu > li {
    display: inline-block;
}
.main-menu li:hover {
	color: #6dc04a;
}
.main-menu > .collapsible {
	position: relative;
}
.main-menu > .collapsible::after {
	content: "\25be";
}
.main-menu > .collapsible > ul {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: black;
	padding: 0;
}
.main-menu > .collapsible li {
	list-style-type: none;
	min-width: 120px;
}


/* CSS for functionality */

.main-menu > .collapsible > ul {
	display: none;
	-webkit-animation: sub-menu-anim 1s;
	animation: sub-menu-anim 1s;
}

@-webkit-keyframes sub-menu-anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes sub-menu-anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main-menu > .collapsible:hover > ul {
	display: block;
}
.main-menu > .collapsible [data-more-info] {
	position: relative;
}
.main-menu > .collapsible [data-more-info]::after {
	display: none;
	color: white;
	content: attr(data-more-info);
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform:  translateX(-50%);
	background-color: #888;
	padding: 10px;
	border-radius: 7px;
	width: 100%;
	-webkit-animation: more-details-anim 0.5s;
	animation: more-details-anim 0.5s;
    line-height: 1.4;
    border: 1px solid #555;
}
.main-menu > .collapsible li[data-more-info]:hover::after {
	display: block;
}

@-webkit-keyframes more-details-anim {
	from {
		bottom: 25%;
	}
	to {
		bottom: 100%;
	}
}
@keyframes more-details-anim {
	from {
		bottom: 25%;
	}
	to {
		bottom: 100%;
	}
}

