form {
	width: 500px;
	padding: 15px;
}
.input-container {
	margin-bottom: 20px;
	position: relative;
}
input {
	display: inline-block;
	width: 90%;
	height: 30px;
	border: 1px solid #ddd;
    padding: 2px 5px;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.validation-result {
	margin: 5px 0 0;
	height: 0;
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
	top: -7px;
	right: 50px;
}
.validation-icon {
	padding-left: 5px;
}
.validation-icon::after {
	content: "";
    width: 0;
    height: 25px;
    opacity: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.validation-result:after {
	content: attr(message);
}
input:focus + .validation-icon::after {
    width: 25px;
    opacity: 1;
    background-size: auto 25px;
    background-repeat: no-repeat;
}
input:focus ~ .validation-result {
	height: auto;
	opacity: 1;
}
input:invalid:focus {
	background-color: #CC6666;
}
input:invalid:focus + .validation-icon::after {
    background-image: url(https://img.clipartfest.com/97a376ece2cabe35e8ea3c2dffef2122_red-x-instead-of-clipart-outlook-clipart-red-x_500-500.png);
}
input:invalid:focus ~ .validation-result:after {
	color: #CC6666;
}
input:valid:focus {
	background-color: green;
}
input:valid:focus + .validation-icon::after {
    background-image: url(http://images.clipartbro.com/4/image-green-tick-4983.png);
}
input:valid:focus ~ .validation-result:after {
	content: "Valid";
	color: green;
}