body {
	font-family: Arial, sans-serif;
	padding: 0 10px;
}
h1 {
	border-bottom: 1px solid #000;
	display: inline-block;
}
a {
	line-height: 1.4;
	text-decoration: none;
	color: #339966;
}
.description {
	/*text-align: center;*/
	li {
		line-height: 1.8;
	}
	li > p {
		margin: 0;
	}
	.note {
		color: rgba(179, 57, 6, 0.67);

		span {
			text-decoration: underline;
		}
	}
}
main {
	margin-top: 45px;
}

/* -- CSS relevant to the task -- */

.range-img-wrapper {
	
	display: inline-block;
	text-align: center;
	
	&:first-child {
		margin-right: 3vw;
	}
	
	label {
		position: relative;
	    z-index: 2;
	    background-color: white;
	    padding: 2px;
	}
	
	.range-label::before {
	    content: "";
	    position: absolute;
	    height: 20px;
	    width: 20px;
	    top: -22px;
	}
	.label-hue::before {
	    background: url(../images/icon-hue.png) center center /100% auto no-repeat;
	    left: 7px;
	}
	.label-zoom::before {
	    background: url(../images/icon-zoom.png) center center /100% auto no-repeat;
	    left: 10px;
	}

	@for $i from 0 through 10 {
		$deg: $i*36;
		$zoom: 1+ $i *0.1;
		.hue[value="#{$deg}"] ~ .img {
			-webkit-filter: hue-rotate(#{$deg}deg);
			filter: hue-rotate(#{$deg}deg);
		}
		.zoom[value="#{$zoom}"] ~ .img {
			-webkit-transform: scale(#{$zoom});
			transform: scale(#{$zoom});
		}
	}
	
	.slider {
		position: relative;
		z-index: 2;
		
		&::after {
		    position: absolute;
		    left: 50%;
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);
	        top: -16px;
		    text-align: center;
		    background-color: white;
		    padding: 1px;
		}
	}
	.hue {
		margin-right: 1.5vw;
		&::after {
			content: attr(value) " degrees";
		    width: 85px;
		}
	}
	.zoom {
		&::after {
			content: "x " attr(value);
			width: 30px;
		}
	}
	
	.img {
		width: 45vw;
		height: 30vw;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center center;
		margin-top: 10px;
		-webkit-transition: -webkit-filter 0.5s, transform 0.5s;
		transition: filter 0.5s, transform 0.5s;

		&.landscape1 {
			background-image: url(../images/landscape1.jpg);
		}
		&.landscape2 {
			background-image: url(../images/landscape2.jpg);
		}
	}
}