body {
  font-family: Arial, sans-serif;
  padding: 0 10px; }

h1 {
  border-bottom: 1px solid #000;
  display: inline-block; }

a {
  line-height: 1.4;
  text-decoration: none;
  color: #339966; }

.description {
  /*text-align: center;*/ }
  .description li {
    line-height: 1.8; }
  .description li > p {
    margin: 0; }
  .description .note {
    color: rgba(179, 57, 6, 0.67); }
    .description .note span {
      text-decoration: underline; }

main {
  margin-top: 45px; }

/* -- CSS relevant to the task -- */
.range-img-wrapper {
  display: inline-block;
  text-align: center; }
  .range-img-wrapper:first-child {
    margin-right: 3vw; }
  .range-img-wrapper label {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 2px; }
  .range-img-wrapper .range-label::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: -22px; }
  .range-img-wrapper .label-hue::before {
    background: url(../images/icon-hue.png) center center/100% auto no-repeat;
    left: 7px; }
  .range-img-wrapper .label-zoom::before {
    background: url(../images/icon-zoom.png) center center/100% auto no-repeat;
    left: 10px; }
  .range-img-wrapper .hue[value="0"] ~ .img {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg); }
  .range-img-wrapper .zoom[value="1"] ~ .img {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .range-img-wrapper .hue[value="36"] ~ .img {
    -webkit-filter: hue-rotate(36deg);
    filter: hue-rotate(36deg); }
  .range-img-wrapper .zoom[value="1.1"] ~ .img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .range-img-wrapper .hue[value="72"] ~ .img {
    -webkit-filter: hue-rotate(72deg);
    filter: hue-rotate(72deg); }
  .range-img-wrapper .zoom[value="1.2"] ~ .img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  .range-img-wrapper .hue[value="108"] ~ .img {
    -webkit-filter: hue-rotate(108deg);
    filter: hue-rotate(108deg); }
  .range-img-wrapper .zoom[value="1.3"] ~ .img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  .range-img-wrapper .hue[value="144"] ~ .img {
    -webkit-filter: hue-rotate(144deg);
    filter: hue-rotate(144deg); }
  .range-img-wrapper .zoom[value="1.4"] ~ .img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  .range-img-wrapper .hue[value="180"] ~ .img {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg); }
  .range-img-wrapper .zoom[value="1.5"] ~ .img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  .range-img-wrapper .hue[value="216"] ~ .img {
    -webkit-filter: hue-rotate(216deg);
    filter: hue-rotate(216deg); }
  .range-img-wrapper .zoom[value="1.6"] ~ .img {
    -webkit-transform: scale(1.6);
    transform: scale(1.6); }
  .range-img-wrapper .hue[value="252"] ~ .img {
    -webkit-filter: hue-rotate(252deg);
    filter: hue-rotate(252deg); }
  .range-img-wrapper .zoom[value="1.7"] ~ .img {
    -webkit-transform: scale(1.7);
    transform: scale(1.7); }
  .range-img-wrapper .hue[value="288"] ~ .img {
    -webkit-filter: hue-rotate(288deg);
    filter: hue-rotate(288deg); }
  .range-img-wrapper .zoom[value="1.8"] ~ .img {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); }
  .range-img-wrapper .hue[value="324"] ~ .img {
    -webkit-filter: hue-rotate(324deg);
    filter: hue-rotate(324deg); }
  .range-img-wrapper .zoom[value="1.9"] ~ .img {
    -webkit-transform: scale(1.9);
    transform: scale(1.9); }
  .range-img-wrapper .hue[value="360"] ~ .img {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); }
  .range-img-wrapper .zoom[value="2"] ~ .img {
    -webkit-transform: scale(2);
    transform: scale(2); }
  .range-img-wrapper .slider {
    position: relative;
    z-index: 2; }
    .range-img-wrapper .slider::after {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -16px;
      text-align: center;
      background-color: white;
      padding: 1px; }
  .range-img-wrapper .hue {
    margin-right: 1.5vw; }
    .range-img-wrapper .hue::after {
      content: attr(value) " degrees";
      width: 85px; }
  .range-img-wrapper .zoom::after {
    content: "x " attr(value);
    width: 30px; }
  .range-img-wrapper .img {
    width: 45vw;
    height: 30vw;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 10px;
    -webkit-transition: -webkit-filter 0.5s, transform 0.5s;
    transition: filter 0.5s, transform 0.5s; }
    .range-img-wrapper .img.landscape1 {
      background-image: url(../images/landscape1.jpg); }
    .range-img-wrapper .img.landscape2 {
      background-image: url(../images/landscape2.jpg); }

/*# sourceMappingURL=style.css.map */
