html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#loader {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		animation: loader 3s linear infinite;
	}
}

@keyframes loader {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.season {
	height: 400px;
    width: 600px;
    padding-top: 20px;
	background-position: 0 60px;
	background-size: auto 80%;
	background-repeat: no-repeat;
	
	&::after {
		content: attr(data-season);
		font-weight: bold;
	}
	&[data-season="winter"] {
		background-image: url(http://cdn.yourarticlelibrary.com/wp-content/uploads/2013/09/193.jpg);
	}
	&[data-season="spring"] {
		background-image: url(http://cdn.publishyourarticles.net/wp-content/uploads/2015/06/spring-061.jpg);
	}
	&[data-season="summer"] {
		background-image: url(http://www.starchaser-healingarts.com/wp-content/uploads/Summer-iStock_000019680262Small.jpg);
	}
	&[data-season="autumn"] {
		background-image: url(https://usercontent2.hubstatic.com/5532609_f520.jpg);
	}
}