body {
  font-family: Arial, sans-serif;
  line-height: 1.4; }

a {
  text-decoration: none;
  color: inherit; }

.menu {
  padding: 0; }
  .menu > li {
    list-style-type: none;
    width: 250px; }
    .menu > li > a {
      width: 100%;
      padding: 15px 20px;
      display: inline-block;
      box-sizing: border-box;
      line-height: 22px; }
      .menu > li > a > span {
        float: right;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 0px 10px;
        font-size: 12px;
        vertical-align: bottom; }

.menu-title {
  background-color: #e6e6e6;
  color: #686e81; }

.menu-item {
  background-color: #686e81;
  color: white; }

.menu-item:hover {
  background-color: #455ca4;
  color: white; }

/*# sourceMappingURL=style.scss.css.map */
